<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Edit {{slug}}</title>

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <form action="/pages/update/{{slug}}" method="post">
          <input type="hidden" name="previous_version" value="{{version}}" />

          <div class="row">
            <label for="title">Title:</label>
            <input name="title" type="text" value="{{title}}" />
          </div>

          <div class="row">
            <label for="body">Body:</label>
            <textarea name="body" class="u-full-width" rows="20">{{body}}</textarea>
          </div>

          <div class="row">
            <input type="submit" value="Submit" class="button-primary" />

            <a href="/w/{{slug}}">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
