<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>uwiki home</title>

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1>uwiki home</h1>

        {{#if current_username}}
          <p>Logged in as <a href="/me">{{current_username}}</a></p>
        {{else}}
          <a href="/login">Login</a>
        {{/if}}

        {{#if flash}}
          <p>{{flash}}</p>
        {{/if}}

        {{#if pages}}
          <h4>Most recently updated pages</h4>

          {{#each pages}}
            <div>
              <a href="/w/{{this.slug}}">{{this.title}}</a>
            </div>
          {{/each}}
        {{else}}
          <p>No pages yet.</p>
        {{/if}}

        {{#if current_username}}
          <div class="row">
            <a href="/pages/create">Create new page</a>
            <a href="/images/create">Upload new image</a>
          </div>
        {{else}}
          <div class="row">
            <a href="/users/request">Request account</a>
          </div>
        {{/if}}
      </div>
    </div>
  </body>
</html>
