<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{current_username}} home</title>

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1>{{current_username}} home</h1>

        {{#if pages}}
          <h4>Pages you own</h4>

          {{#each pages}}
            <div>
              <a href="/w/{{this.slug}}">{{this.title}}</a>

              <form action="/pages/delete/{{this.slug}}", method="post">
                <input type="submit" value="Delete" />
              </form>
            </div>
          {{/each}}
        {{else}}
          <p>No pages yet.</p>
        {{/if}}

        {{#if images}}
          <h4>Images you own</h4>

          {{#each images}}
            <div>
              <img src="/img/{{this.slug_with_extension}}" alt="{{this.alt_text}}" />

              <p>Slug: /img/{{this.slug_with_extension}}</p>

              <form action="/images/delete/{{this.slug}}", method="post">
                <input type="submit" value="Delete" />
              </form>
            </div>
          {{/each}}
        {{else}}
          <p>No images yet.</p>
        {{/if}}

        {{#if approvals}}
          <h4>Pending account approvals</h4>

          <table>
            <thead>
              <tr>
                <th>Username</th>
                <th>Requested at</th>
                <th>Approve</th>
                <th>Reject</th>
              </tr>
            </thead>

            <tbody>
              {{#each approvals}}
                <tr>
                  <td>{{this.username}}</td>
                  <td>{{this.created_at}}</td>
                  <td>
                    <form action="/users/{{this.id}}/approve" method="post">
                      <input type="submit" value="Approve" class="button-primary" />
                    </form>
                  </td>
                  <td>
                    <form action="/users/{{this.id}}/reject" method="post">
                      <input type="submit" value="Reject" />
                    </form>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        {{else}}
          <p>No pending account approvals.</p>
        {{/if}}

        <div class="row">
          <a href="/pages/create">Create new page</a>
          <a href="/images/create">Upload new image</a>
        </div>
      </div>
    </div>
  </body>
</html>
